.sessionentry {
    --margin: 20px;
    width: 100%;
    height: 100px;
    margin: var(--margin) 0px;
    scroll-snap-align: start;
    scroll-margin: var(--margin) 0;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    position:relative;
}

.sessionentry:hover {
    background: #e5e5e5;
}

.session_preview {
    background: #e5e5e5;
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
}