#content {
    --padding: 15px;
    height: calc(350px - 2* var(--padding));
    padding: var(--padding);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#more_sessions {
    font-size: 35px;
    cursor: pointer;
}